@font-face {
    font-family: Panthera;
    src: url(../police/PantheraRegular-MVZ9J.ttf);
}

@font-face {
    font-family: BEYNO;
    src: url(../police/BEYNO.ttf);
}

@font-face {
    font-family: Wakanda forever;
    src: url(../police/WakandaForever-Regular.ttf);
}

@font-face {
    font-family: Cantarell;
    src: url(../police/Cantarell-Regular.ttf);
}

:root{
    white-color: #FFFFFF;
    pink-light-color:#F2CEF2;
    pink-purple-color:#9E91B7;
    pink-color:#DF99F2;
    purple-color:#3D2DA6;
    blue-color:#07338C;
    dark-blue-color:#021740;
    gradient-blue:  #11213F;
    gradient-black:#0B0B0B;
    gradien-blue-dark:#021740;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: Panthera;
    font-size: 68px;
    font-weight: 400;
    color: #9E91B7; 
}

h2{
    font-family: BEYNO;
    font-size: 32px;
    font-weight: 400;
    color: #9E91B7;
}

button{
    font-family: 'Cantarel';
    font-size: 20px;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto;
}

body{
    background: radial-gradient(126.67% 350.28% at -21.35% 0%,
    #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%,
    rgba(2, 23, 64, 0) 100%);
    color: #FFFFFF;
    font-family:'Cantarell';
    font-weight: 16px;
}

/* Design de la nav */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    color: #FFFFFF;
}

nav .nav-image{
    margin-left: 60px;    
}


nav .nav-list{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Cantarell';
    margin-right: 60px;
    color: #FFFFFF;
}

nav .nav-list a{
    margin: 20px;
    color: #FFFFFF;
    text-decoration: none;   
}

nav .nav-list a:hover{
    text-decoration: underline;
}

nav .nav-list .menu{
    color:#3D2DA6;
}

/* Design sur la section Wakanda forever */

#wakanda-forever{
    background-image: url(../Illustrations+Logo/Wakanda/Pantherwakanda1.png);
    /*background-size: cover;*/
    background-repeat: no-repeat;
    height: 1000px;
    background-position: top;
}

#wakanda-forever .container{
    /*margin: 50px auto;*/
    width: 50%;
    position: relative;
    left: -200px;
    bottom: -250px;
}

#wakanda-forever p{
    width: 50%;
    margin-top: 20px;
}

/* Design sur la section descriptions */

#descriptions{
    background-image: url(../Illustrations+Logo/Wakanda/Pantherwakanda2.png);
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: top;
}

#descriptions .container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-around;
}

#descriptions .container .text-left{
    margin-right: 600px;
}

#descriptions .container .text-right{
    margin-left: -500px;
}

#descriptions .container p{
    margin: 20px auto;
}

#descriptions .container .link{
    background-color: #07338C;
    height: 300px;
    padding: 60px;
    margin: 50px 0;
}

#descriptions .container a{
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}

#descriptions .container .force-militaire{
    margin-top: 30px;
}

#contact .container .form-bottom input:hover{
    box-shadow: 0 0 20px #021740;
    cursor: pointer;
}

/* Designe du footer */

footer{
    background-image: url(../Illustrations+Logo/Allpages/back_footer.png);
    background-repeat: no-repeat;
}

footer .info-foot{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer .info-foot .foot-image{
    background-image: url(../Illustrations+Logo/Allpages/footer1.png);
    background-repeat: no-repeat;
    height: 500px;
    width: 400px;
    padding: 150px;
}

footer .info-foot .foot-page{
    margin: 10px 0;
}

footer .info-foot .foot-page p{
    margin: 22px;
    font-size: 20px;
}

footer .info-foot .foot-page ul{
    list-style: none;
}

footer .info-foot .foot-page a{
    color: #FFFFFF;
    margin: 30px;
    text-decoration: none;
    display: block;
    height: 10px;
}

footer .info-foot .foot-page a:hover{
    text-decoration: underline;
}

footer .info-foot .retrouvez-nous{
    margin: 10px 0;
}

footer .info-foot .retrouvez-nous p{
    margin: 22px;
    font-size: 20px;
}

footer .info-foot .retrouvez-nous .foot-res-soc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer .mention{
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    position: relative;
    right: -930px;
    top: -220px;
}




 